//@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url('src/assets/fonts/SFUIDisplay-Regular.eot');
  src: url('src/assets/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('src/assets/fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg'), url('src/assets/fonts/SFUIDisplay-Regular.ttf') format('truetype'), url('src/assets/fonts/SFUIDisplay-Regular.woff') format('woff'), url('src/assets/fonts/SFUIDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIDisplay-Medium';
  src: url('src/assets/fonts/SFUIDisplay-Medium.eot');
  src: url('src/assets/fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg'),
    url('src/assets/fonts/SFUIDisplay-Medium.ttf') format('truetype'),
    url('src/assets/fonts/SFUIDisplay-Medium.woff') format('woff'),
    url('src/assets/fonts/SFUIDisplay-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('src/assets/fonts/SFUIDisplay-Semibold.eot');
  src: url('src/assets/fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg'),
    url('src/assets/fonts/SFUIDisplay-Semibold.ttf') format('truetype'),
    url('src/assets/fonts/SFUIDisplay-Semibold.woff') format('woff'),
    url('src/assets/fonts/SFUIDisplay-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Bold';
  src: url('src/assets/fonts/SFUIDisplay-Bold.eot');
  src: url('src/assets/fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg'),
    url('src/assets/fonts/SFUIDisplay-Bold.ttf') format('truetype'),
    url('src/assets/fonts/SFUIDisplay-Bold.woff') format('woff'),
    url('src/assets/fonts/SFUIDisplay-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


//font files for coachmarks
@font-face {
  font-family: 'SketchRockwell';
  src: url('src/assets/fonts/SketchRockwell.eot');
  src: url('src/assets/fonts/SketchRockwell.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/SketchRockwell.svg#SketchRockwell') format('svg'),
    url('src/assets/fonts/SketchRockwell.ttf') format('truetype'),
    url('src/assets/fonts/SketchRockwell.woff') format('woff'),
    url('src/assets/fonts/SketchRockwell.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
 // Icomoon Fonts for District & State svg
 @font-face {
  font-family: 'mahindra-Digisense';
  src:  url('src/assets/fonts/mahindra-Digisense.eot?xo7azj');
  src:  url('src/assets/fonts/mahindra-Digisense.eot?xo7azj#iefix') format('embedded-opentype'),
    url('src/assets/fonts/mahindra-Digisense.ttf?xo7azj') format('truetype'),
    url('src/assets/fonts/mahindra-Digisense.woff?xo7azj') format('woff');
    //url('src/assets/fonts/mahindra-Digisense.svg?xo7azj#mahindra-Digisense') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mahindra-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mahindra-Digisense' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 25rem;
  color: #d9d9d9;
  text-shadow: 2px 0 0 #9d263b, -2px 0 0 #9d263b, 0 2px 0 #9d263b, 0 -2px 0 #9d263b, 1px 1px #9d263b, -1px -1px 0 #9d263b, 1px -1px 0 #9d263b, -1px 1px 0 #9d263b;
}


// Global SCSS
html,
html.ios,
html.md {
  --ion-default-font: var(--regular);
  font-size: 10px;
}

body {
  font-size: 1.1rem;
  --ion-font-family: var(--regular);
}

.ion-color-primary {
  --ion-color-base: linear-gradient(var(--ion-color-primary-tint), var(--ion-color-primary-shade)) !important;
}

[full-h] {
  height: 100%;
}

[full-w] {
  width: 100%;
}

[d-flex],
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[flex-column],
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

[flex-row],
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.clear{
  clear:both;
  &:before,
  &:after{
    content:"";
    clear:both;
    display: table;
  }
}
.margin-xs-r-50 {
  margin-right: 50%;

  @include bp(sm) {
    margin-right: inherit;
  }

}
.hide{
  display: none;
}
ion-button {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: normal;

  @include bp(sm) {
    font-size: 1.6rem;
    min-height: 3.35rem;
  }
}

.container {
  margin: 0 auto;
  padding-left: 1rem !important;
  padding-right: 1rem !important;

  @include bp(xs) {
    width: auto;
  }

  @include bp(sm) {
    width: 530px;
  }

  @include bp(md) {
    width: 740px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  @include bp(lg) {
    width: 960px;
  }

  @include bp(xl) {
    width: 1100px;
  }
}

//style for input select
.label-small {
  --ion-font-family: var(--semi-bold);
  font-family: var(--semi-bold);
  font-size: 1.1rem !important;
  --color: var(--label-grey);
  color: var(--label-grey);

  &.label-stacked {
    transform: none !important;
  }
}

.label-style {
  --ion-font-family: var(--semi-bold);
  font-family: var(--semi-bold);
  font-size: 1.2rem;
  --color: var(--label-grey);
  color: var(--label-grey);
  min-height: 2rem;
}

//styles for the customized select picker
[select-style] {

  ion-select,
  .select-picker {
    font-size: 1.4rem;
    --ion-font-family: var(--semi-bold);
    width: 100%;

    .ionArraowIcon {
      margin: 0;
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.33);
    }
  }
}

.select-picker {
  line-height: 1.9rem;
  height: 1.9rem;
  height: 2.2rem;
}


ion-header {
  background-color: var(--white);

  //styles for the header of home and Tractor usage pages
  &.header {
    background: url(src/assets/images/header-bg1.png) right top no-repeat;
    background-size: auto 13rem;
    background-color: var(--white);
    z-index: 0;

    @include bp(xs) {
      background-size: auto 11.57rem;
    }

    @include bp(xxs) {
      background-size: auto 12.46rem;
    }

    @include bp(xs-landscape) {
      background-size: auto 12.8rem;
    }

    .logo {
      width: 13.3rem;
    }

    ion-icon {
      font-size: 1.5rem;
    }

    ion-toolbar {
      --background: transparent;
      @extend %ion-padding-lr-3;
      @extend %ion-padding-reset-tb;

      .btns-toolbar {

        ion-fab-button,
        ion-menu-button {
          margin-left: 0.825rem;
          color: var(--ion-color-primary);
          --box-shadow: var(--btn-shadow);
          --padding-start: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          @extend %ion-fab-button-light;
        }

        ion-menu-button {
          background: var(--ion-color-light);
          border-radius: 50%;
          @include shadow(var(--btn-shadow));
          --padding-start: 1rem;
        }

      }
    }

  }

  ion-toolbar {
    --background: transparent;
  }

  ion-buttons {
    ion-fab-button {
      margin: 0.5rem;
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  //styles for the header of inner pages
  &.custom-header {
    background: url(/assets/images/secondary-header-bg.png) right top no-repeat;
    background-size: contain;
    background-color: var(--white);
    min-height: 8rem;
    padding-top: 2rem;

    ion-toolbar {
      @extend %ion-reset-padding;
      --min-height: 5rem;
      --border-width: 0;

      &:last-child {
        --border-width: 0;
      }

      &:first-child {
        padding-top: 0rem;
      }

      ion-title {
        text-align: left;
      }

      .back-icon {
        color: var(--dark-red);

        ion-button {
          @extend %ion-margin-reset-lr;
          @extend %ion-padding-reset-tb;
          width: 3rem;
          height: 3rem;
        }
      }

      .page-title {
        font-size: 1.6rem;
        color: var(--ion-color-dark);
        font-family: var(--semi-bold);
        position: static;
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        -webkit-padding-end: 1.2rem;
        padding-inline-end: 1.2rem;
        text-transform: capitalize;
      }

      ion-icon {
        font-size: 1.3rem;
      }
    }

    &:after {
      content: "";
      display: none;
    }
    .clickable-btn{
      display: inline-flex;
      outline: none;
      align-items: center;
    }
  }


}

.secondary {
  padding: 0 3rem 0.5rem;
  @include shadow(var(--shadow-header));
  align-items: flex-end;

  @include bp(xs) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include bp(xs-landscape) {
    flex-direction: row;
    align-items: flex-end;

    >ion-item {
      width: 25%;
    }
  }

  ion-item {
    @extend %ion-reset-inner-padding;
    @extend %ion-reset-padding;
    --background: transparent;
    --min-height: 1rem;
    min-width: 14.15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50%;

    ion-select {
      @extend %ion-reset-padding;
      max-width: none;
    }

    ion-label {
      margin-top: 0;
      color: var(--label-grey);
      min-height: 0;
      margin-bottom: 0;
    }
  }

  .weather-data {
    width: 100%;

    .weather-wrapper {
      align-items: center;

      .weather {
        flex-direction: column;

        @include bp(sm) {
          flex-direction: row;
        }

        @include bp(xs-landscape) {
          flex-direction: row;
        }

        .label-data {
          align-items: flex-start;
          min-width: 12rem;

          @include bp(xs) {
            align-items: center;
            padding-left: 0;
          }

          @include bp(xs-landscape) {
            align-items: flex-start;
          }
        }

        .ion-wrapper {
          width: 10rem;
          text-align: center;

          .weather-icon {
            height: 4.25rem;
            display: inline-block;
          }

          @include bp(sm) {
            text-align: right;
          }

          @include bp(xs-landscape) {
            text-align: right;
          }
        }
      }
    }

    ion-header & {
      @include bp(xs-landscape) {
        width: auto;
        margin-left: 2rem;
      }

      @include bp(sm) {
        width: auto;
        margin-left: 2rem;
      }

      .weather-wrapper {
        margin-top: -3rem;
        margin-bottom: 0.5rem;
        align-items: flex-end;
        min-height: 8.4rem;
      }
    }
  }

  //secondary bar styles i the tractor page
  &.secondary-items {
    padding: 0 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    //styles for the immediate children of secondary bar(ion-item/div)
    >* {
      --min-height: 0;
      width: 14.1rem;

      &:first-child {
        margin-right: 50%;
      }

      &.select-date {
        min-width: 12.6rem;
        width: 12.6rem;
      }

      &.select-text {
        margin-top: 1rem;

        ion-label+ion-item {
          margin-top: 0;
        }
      }

      ion-label {
        margin-bottom: 0;
        font-size: 1.1rem;
        --color: var(--label-grey);
        color: var(--label-grey);
        min-height: 0;
      }
    }

    //media queries for the secondary bar flex layout
    @include bp(sm) {
      justify-content: flex-start;

      >* {

        &,
        &:first-child {
          margin-right: 3rem;
        }
      }
    }

    @include bp(xxs) {
      >* {

        &,
        & ion-item {
          min-width: 12rem;
          width: 12rem;
        }

        &.select-date {
          max-width: 10rem;

          ion-label {
            margin-bottom: 0;
          }
        }
      }
    }

    @include bp(xs-landscape) {
      justify-content: flex-start;

      >* {

        &,
        & ion-item {
          min-width: 12rem;
          width: 12rem;
        }

        &,
        &:first-child {
          margin-right: 3rem;
        }
      }
    }
  }

}

.main-content {
  padding: 0 1rem;
}


//animation
.wave-animation {
  &:before {
    content: "";
    background-size: contain;
    height: 1.4rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    animation: slide 20s linear infinite;
    -webkit-animation: slide 20s linear infinite;

    @keyframes slide {
      from {
        background-position: 0 0;
      }

      to {
        background-position: -700px 0;
      }
    }

    @-webkit-keyframes slide {
      from {
        background-position: 0 0;
      }

      to {
        background-position: -700px 0;
      }
    }
  }
}


[box-shadow] {
  @include shadow(0 0 16px rgba(0, 0, 0, 0.1));
}

ion-tabs {
  z-index: 0 !important;

  ion-tab-bar {
    height: 5.25rem;
    position: relative;
    //z-index: 3;

    z-index: 0;
    --background: transparent;

    ion-icon {
      font-size: 1.8rem;
    }

    ion-label {
      font-size: 1.2rem;
      font-family: var(--semi-bold);
    }

    ion-tab-button {

      &,
      &:focus,
      &:active {
        @extend %background-transparent;
        --color-selected: var(--ion-color-light);
        color: var(--ion-color-light);
      }

      &.tab-selected {
        position: relative;

        &:after {
          content: "";
          width: 1.75rem;
          height: 0.35rem;
          --border-radius: 0.16rem;
          @include border-radius(var(--border-radius));
          background-color: var(--ion-color-light);
          @include transform(translateX(-50%));
          position: absolute;
          left: 50%;
          bottom: 0.45rem;
        }
      }
    }
  }

}

.tab-middle {
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 6.1rem;
  width: 10.4rem;
  margin-left: -5.2rem;
  font-size: 1.2rem;
  font-family: var(--semi-bold);
  padding-top: 0.6rem;
  @extend %background-transparent;
  overflow: visible;
  color: var(--ion-color-light);

  &:before {
    content: "";
    position: absolute;
    width: 24.2rem;
    height: 6.2rem;
    margin-left: -12.1rem;
    left: 50%;
    bottom: 0;
    background: url(src/assets/images/footer-bg.png) center no-repeat;
    pointer-events: none;
    z-index: 0;
  }
  &.has-coachmarks{
    &:before{
      opacity: 0.2;
    }
  }

  .tractor-icon {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  ion-ripple-effect {
    color: var(--dark-shade);
    --border-radius: 50% 50% 0 0;
    @include border-radius(var(--border-radius));
    overflow: hidden;
  }
}

[fixed-container] {
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal;
  width: 100%;

  ion-tab-button {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

.ask-me-btn {
  ion-fab-button {
    @extend %background-transparent;

    ion-icon {
      font-size: 4rem;
      margin-bottom: .5rem;
    }

    ion-label {
      font-size: 1.2rem;
      margin-bottom: .5rem;
    }
  }

}

.fb-space {
  min-width: 10.4rem;
  max-width: 10.4rem;
  display: block;
}

ion-fab-button {
  &.primary-color {
    --background: var(--dark-red);
    margin: 0.5rem 0.2rem 0;
  }

  &.pick-date {
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    font-family: var(--semi-bold);
    font-size: 1.2rem;
    margin: 0.25rem 1rem 0.25rem 0;

    &[transcluent] {
      &:not(.primary-color) {
        @extend %background-transparent;
        --color: var(--dark-red);
      }
    }
  }
}

ion-picker {
  --height: 150px !important;

  .picker-opt {
    font-size: 1.6rem;
  }

  .picker-toolbar {
    height: 40px !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    border-bottom: none !important;

    .picker-button {
      height: 40px !important;
      font-size: 1.6rem !important;
      text-transform: capitalize !important;
    }
  }

  .picker-columns {
    height: 100px !important;
    -webkit-perspective: 1000px !important;
    perspective: 1000px !important;
  }

  .picker-opt {
    font-size: 1.6rem !important;
    height: 30px !important;
    line-height: 30px !important;
  }

  .picker-opts-left,
  .picker-opts-right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .picker-opts,
  .picker-prefix,
  .picker-suffix {
    top: 32px !important;
  }

  .picker-opt.picker-opt-selected,
  .picker-prefix,
  .picker-suffix {
    color: var(--ion-color-primary) !important;
  }

  .picker-above-highlight,
  .picker-below-highlight {
    display: none !important;
  }

  @include bp(xs) {
    --height: 120px !important;
    --width: auto !important;

    .picker-wrapper {
      margin-left: 5rem !important;
      margin-right: 5rem !important;
      border-top-right-radius: 10px !important;
      border-top-left-radius: 10px !important;
    }

    .picker-toolbar {
      height: 30px !important;

      .picker-button {
        height: 30px !important;
        font-size: 1.4rem !important;
      }
    }

    .picker-opts,
    .picker-prefix,
    .picker-suffix {
      top: 25px !important;
    }

    .picker-columns {
      height: 80px !important;
    }
  }
}

.label-dark {
  color: var(--text-dark);
  --color: var(--text-dark);
  font-family: var(--semi-bold);
  font-size: 1.5rem;
}


.tractor-selected {
  ion-label {
    position: relative;

    &:after {
      content: "";
      width: 1.75rem;
      height: 0.35rem;
      --border-radius: 0.16rem;
      @include border-radius(var(--border-radius));
      background-color: var(--ion-color-light);
      @include transform(translateX(-50%));
      position: absolute;
      left: 50%;
      bottom: -0.7rem;
    }
  }
}

.shadow-inner {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    @include shadow(var(--shadow-inset));
    z-index: 1;
    pointer-events: none;
    opacity: 0.3;
  }
}

.btn-bottom {
  width: 194px;
  height: 35px;
  --background: var(--light-red);
  --border-radius: 20px 20px 0 0;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: var(--ion-color-light);
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.bottom-btns-group {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9rem;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 1) 58%);
    ;
  }

  ion-button {
    margin: 0 1.1rem;
    margin-bottom: -2px;
    height: 3.5rem;
    --border-radius: 2rem 2rem 0 0;
    min-width: 10.5rem;
    --border-width: 2px;
    --border-color: var(--ion-color-primary);
    --border-style: solid;
    --box-shadow: none;
    font-size: 1.3rem;

    &[lg] {
      min-width: 19.4rem;
    }

    &[secondary] {
      --background: var(--ion-color-primary-contrast);
      --background-activated: var(--ion-color-primary-contrast);
      --background-focused: var(--ion-color-primary-contrast);
      --color: var(--ion-color-primary);
      --color-activated: var(--ion-color-primary);
      --color-focused: var(--ion-color-primary);
      --ripple-color: var(--ion-color-primary);
    }
  }
}


.content-wrapper {
  height: 100%;

}

ion-popover {
  &.custom-popover {
    --width: 15.7rem;
    --box-shadow: var(--shadow-general);
    --border-radius: 1.5rem;

    .popover-content {
      @include border-radius(var(--border-radius));
      margin-left: -2.5rem;
    }
  }

  &.filter-popover {
    --width: 30rem;
    --box-shadow: var(--shadow-general);
    --border-radius: 1.5rem;

    .popover-content {
      @include border-radius(var(--border-radius));
    }
  }
}

ion-button {
  &.button-clear {
    --ripple-color: transparent;
  }

  &.btn-img {
    height: 12.15rem;
    --background: var(--ion-color-light);
    --border-color: var(--light-pink);
    --border-radius: 1rem;
    --box-shadow: var(--shadow-light);
    width: 100%;
    margin-top: 10px;
    --padding: 1rem;

    ion-img {
      display: block;
      margin: auto;
    }
  }
}

.search-input-control {
  padding-left: 3rem;
  padding-right: 3rem;

  ion-input {
    font-size: 1.4rem;
    border-bottom: 1px solid var(--label-grey);
    font-family: var(--medium);
    --padding-start: 0;
  }

  ion-button {
    margin-left: 1.2rem;
    min-width: 7.7rem;
    font-size: 1.1rem;
    min-height: 3rem;
    --box-shadow: none;
    font-family: var(--medium);
    --background: var(--light-red);
  }
}



.alert-box {
  font-family: var(--semi-bold);
  font-size: 1rem;
  @include shadow(var(--shadow-secondary));
  background-color: var(--alert-warning);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: fixed;
 /*  top: 17rem; */
 top:0;
  left: 0;
  width: 100%;
  padding: 0.5rem 2rem 0.6rem;
  //line-height: 0.9rem;
  letter-spacing: 0.001rem;
/* 
  @include bp(sm-landscape) {
    top:11.5rem;
  }
  @include bp(sm) {
    top:10.5rem;
  } */

  h2 {
    font-size: 1.2rem;
    font-family: var(--semi-bold);
    margin: 0 0 0.5rem;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
  .next-line-msg{
    display: block;
  }

}

.custom-menu {
  //   --ion-backdrop-color:var(--transparent);
  --background: rgba(var(--ion-color-primary-contrast-rgb), .9);

  ion-content {
    --background: var(--transparent);
    background: url('assets/images/menu-bg.png') no-repeat top center;
    background-size: contain;
  }

  .profile-info {
    padding: 3rem;

    ion-img {
      height: 7.3rem;
      width: 7.3rem;
      @include border-radius(50%);
      @include shadow(0 0 1rem 0rem rgba(0, 0, 0, 0.2));
      margin-bottom: 1.78rem;
      background: rgba(var(--ion-color-primary-contrast-rgb), .5);
      overflow:hidden;
    }

    ion-text {
      line-height: 1;

      h3 {
        font-size: 2.2rem;
        font-family: var(--semi-bold);
        margin: 0;
        margin-bottom: 1rem;
        color: var(--title-color);
      }

      p {
        font-size: 1.5rem;
        margin: 0;
      }
    }

    ion-button {
      margin-left: 2rem;
    }
  }
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: 2.5rem;

    ion-label,
    .link {
      margin: 0;
      padding: 1rem 5rem 1rem 3rem;
      background: var(--white);
      font-size: 1.2rem;
      font-family: var(--semi-bold);
      color: var(--menu-text);
      @include border-radius(0 2rem 2rem 0);
      @include shadow(var(--shadow-secondary));
      display: inline-flex;
      position: relative;
      cursor: pointer;
      text-transform: capitalize;

      &:before {
        content: "";
        height: .4rem;
        width: .4rem;
        background: var(--sky-blue);
        --border-radius: 50%;
        @include border-radius(var(--border-radius));
        display: block;
        position: absolute;
        left: 1.5rem;
        top: 1.7rem;
      }
    }
  }
}

ion-button,
ion-menu-button {
  &[icon-btn] {
    --size: 3.2rem;
    height: var(--size);
    width: var(--size);
    --background: var(--white);
    --background-activated: var(--white);
    --background-focused: var(--white);
    --border-radius: var(--size);
    --border-width: 0;
    --color: var(--ion-color-primary);
    --color-activated: var(--ion-color-primary);
    --color-focused: var(--ion-color-primary);
    --ripple-color: var(--ion-color-primary);
    --padding-start: 0;
    --padding-end: 0;
    font-size: 1.1rem;
    min-height: 0;
    --box-shadow: var(--btn-shadow);
  }
}

.btn-shadow {
  background: var(--ion-color-light);
  border-radius: 50%;
  @include shadow(var(--btn-shadow));
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-pointer {
  pointer-events: none;
}

.edit-alert {
  --height: 28.5rem;
  --width: 30rem;
  --border-radius: 2rem;
  --border-width: 0;
}


//styles for coach marks
.coach-marks {
  position: fixed;
  position: fixed;
  top: -0.1px;
  left: -0.1px;
  right: -0.1px;
  bottom: -0.1px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;

  //Dashboard coach marks
  &.coach-dashboard {
    * {
      pointer-events: none;
    }

    header {
      padding: 0.5rem 2.5rem;

      ion-buttons {
        justify-content: flex-end;

        ion-fab-button {
          margin: 0.5rem 0.5rem 0.5rem 0.82rem;
          @extend %ion-fab-button-light;

          ion-icon {
            font-size: 1.5rem;
          }

          &:before {
            @extend %coachmarks-text;
          }
        }
      }

      //coach mark for alert icon
      [data-alert] {
        &:before {
          content: attr(data-alert);
          text-align: left;
          right: 10rem;
          top: 96%;
          max-width: 19.1rem;
        }

        &:after {
          @extend %coachmarks-arrows;
          @include coach-arrow('src/assets/images/coach-arrows/arrow_01.svg');
          right: 9rem;
          top: 10px;
          width: 4rem;
          height: 3rem;
        }
      }

      //coach mark for menu button
      [data-info] {
        &:before {
          content: attr(data-info);
          text-align: right;
          right: 1rem;
          top: calc(100% + 4.25rem);
          max-width: 17rem;

          @include bp(sm-landscape) {
            right: 2rem;
            top: calc(100% + 2.25rem);
          }

        }

        &:after {
          @extend %coachmarks-arrows;
          @include coach-arrow('src/assets/images/coach-arrows/arrow_02.svg');
          width: 2.2rem;
          height: 3.95rem;
          right: 0;
          top: 100%;
        }
      }

    }

    main {
      position: fixed;
      left: 10px;
      right: 10px;
      bottom: 70px;      
      overflow: visible;
      border: none;

      ion-button {
        min-width: 10.1rem;

        
        position:static !important;

        &:before {
          @extend %coachmarks-text;
          bottom: calc(100% + 2rem);
          min-height: 3rem;

          @include bp(sm-landscape) {
            bottom: calc(100% + 1rem);
          }
        }

        &:after {
          width: 2.3rem;
          height: 3.95rem;
          bottom: calc(100% + 0.5rem);

          @include bp(sm-landscape) {
            width: 1.7rem;
            height: 2.95rem;
            bottom: calc(100% + 0.5rem);
          }
        }

        //Geofence coach mark
        &.btn-left-bottom {
          --border-radius: 0 3rem 0 3rem;

          &:before {
            content: attr(data-geofence);
            left: 2rem;
            text-align: left;
            max-width: 50%;
          }

          &:after {
            @extend %coachmarks-arrows;
            @include coach-arrow('src/assets/images/coach-arrows/arrow_03.svg');
            left: -0.5rem;

            @include bp(sm-landscape) {
              left: 0;
            }
          }
        }

        //Locate me coach mark
        &.btn-right-bottom {
          --border-radius: 3rem 0 3rem 0;

          &:before {
            content: attr(data-locate);
            right: 2rem;
            text-align: right;
            max-width: 40%;
          }

          &:after {
            @extend %coachmarks-arrows;
            @include coach-arrow('src/assets/images/coach-arrows/arrow_04.svg');
            right: -0.5rem;

            @include bp(sm-landscape) {
              right: 0;
            }
          }
        }
      }
      @include bp(md) {
        bottom: 8.5rem;
      }
    }


    //Tractor usage coach marks
    [data-tractor] {
      width: 100%;

      .tab-middle {
        pointer-events: none;

        &:before {
          display: none;
        }
      }

      &:before {
        @extend %coachmarks-text;
        position: fixed;
        bottom: 7rem;
        right: calc(50% + 2.5rem);
        text-align: right;
        content: attr(data-tractor);
        min-height: 4rem;
        display: flex;
        align-items: center;
      }

      &:after {
        @extend %coachmarks-arrows;
        @include coach-arrow('src/assets/images/coach-arrows/arrow_05.svg');
        bottom: 5rem;
        right: calc(50% - 1rem);
        width: 2.7rem;
        height: 3.9rem;
      }
    }

    footer {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;

      .btn-tab-style {
        pointer-events: none;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        color: var(--ion-color-light);
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-family: var(--semi-bold);

        ion-icon {
          font-size: 1.8rem;
          margin-bottom: 0.5rem;
        }


        &[data-askme] {
          position: relative;

          &:before {
            @extend %coachmarks-text;
            bottom: 5.5rem;
            left: 0;
            right: 0;
            text-align: left;
            content: attr(data-askme);
            min-height: 3rem;

            @include bp(xxs) {
              left: -2rem;
            }
          }

          &:after {
            @extend %coachmarks-arrows;
            @include coach-arrow('src/assets/images/coach-arrows/arrow_06.svg');
            left: calc(50% - 5rem);
            bottom: 2rem;
            width: 3.55rem;
            height: 3.6rem;
          }
        }
      }

    }

  }

  &.coach-footer-tractor {
    top: auto;
    height: 5.5rem;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
    }
  }

 ion-tabs ~ &{   
    background: transparent;
    top: auto;
    height: 5.4rem;

      &:after {
        content: "";
        position: fixed;
        background: rgba(0, 0, 0, 0.85);
        top: auto;
        left: -0.1px;
        right: -0.1px;
        bottom: 0;
        width: 100%;
        height: 54px;
        z-index: -1;
    }
  }
}

.noInternet-connection:not(ion-menu) {
  display: block;
}

.errorMessage {
  font-size: 1.6rem;
  color: var(--ion-color-light-contrast);
  text-align: left;
  align-self: flex-start;
}

// Applies a text wrap on ion options
.alert-tappable.alert-radio {
  height: auto;
  contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
  white-space: normal;
}
// alert page date code 
.alert-date{
  font-size: 1.4rem;
  font-family: var(--semi-bold);
  color:var(--title-color);
  margin-left: 3rem;
}
//styles for the page loader
.loader-custom{
  --background: transparent;
  --spinner-color: var(--btn-tab-selected);
  

  .loading-wrapper{
    box-shadow: none;
  }
  ion-spinner{  
    width: 5rem;
   height: 5rem;
  }
}
.gm-style-iw{
  button[aria-label="Close"]:after {
    content: " ";
    background: transparent;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}