
.segment-container{
    border-radius: 2rem;
    box-shadow: 0 0.9rem 3.81rem 0.24rem rgba(0, 0, 0, 0.07);
    background-color: var(--ion-color-light);
    height: 4.8rem;

    ion-segment-button{
        --color : var(--title-color);
        --background: var(--ion-color-light);
        --background-activated: var(--ion-color-light);
        --border-width:0;
        font-family: var(--semi-bold);
        font-size: 1.3rem;
        position: relative;
        border-radius: 2rem;
        text-transform: capitalize;        

        &.segment-button-checked{
            color:var(--btn-tab-selected);
            background: var(--ion-color-light);
            &:after{
                content: "";
                width: 2.8rem;
                height: 1.3rem;
                // background:  var(--btn-tab-selected);
                background: url(src/assets/images/tab-selected.png) center bottom no-repeat;
                position: absolute;
                left: 50%;
                @include transform(translateX(-50%));
                bottom: 0;
            }
        }
    }
}

