@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
// Global SCSS
html,html.ios,html.md{--ion-default-font: 'Roboto', sans-serif;font-size:10px;@include bp(xxs){font-size: 8.89px;}}
body{font-size: 1.2rem;}
.ion-color-primary{--ion-color-base:linear-gradient(var(--ion-color-primary-tint), var(--ion-color-primary-shade)) !important;}
[full-h]{height: 100%;}
[d-flex],.d-flex{display: -webkit-box;display: -ms-flexbox;display: flex;}
[flex-column],.flex-column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
[flex-row],.flex-row{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
ion-button{margin: 0;font-size: 1.4rem;font-weight: 400;text-transform: capitalize; letter-spacing: normal; @include bp(sm){font-size: 1.6rem;min-height: 5rem;}}

.container{
  margin: 0 auto;
  @include bp(xs){
    width: auto;
    padding-left:1.6rem;
    padding-right: 1.6rem; 
  }
  @include bp(sm){
    width: 530px;
  }
  @include bp(md){
    width: 740px;
  }
  @include bp(lg){
    width: 960px;
  }
  @include bp(xl){
    width: 1100px;
  }
}
ion-header{
  ion-toolbar{
    &.custom-header{
    --min-height: 5.6rem;
    --border-width:0 0 0rem;
    --border-style:none;
    --border-color:var(--transparent);
    padding-left: 1rem;
    @include bp(xs){
      padding-left: 0.4rem;
    }
    &:last-child {
      --border-width:0 0 0px;
    }
    ion-title{
      -webkit-padding-start: 5rem;
      padding-inline-start: 5rem;
      -webkit-padding-end: 7.5rem;
      padding-inline-end: 7.5rem;
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      font-size: 1.8rem;
      text-align: left;
      font-weight: 400;
      .vehicle-no{
        font-size: 1.1rem;
        line-height: 1;
        display: block;
      }
      ion-select{
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
      }
      @include bp(md){
        text-align: center;
      }
    }
    ion-avatar{
      height: 3.8rem;
      width: 3.8rem;
      margin-right: 1.4rem;
    }
    .tr-model-list{
      display: inline-block;
      text-align: left;
    }
    @include bp(md){
      &:first-child {
        padding-top: 0;
      }
      --min-height: 6.8rem;
      ion-avatar{
        height: 4.4rem;
        width: 4.4rem;
      }
      ion-title{
        font-size: 2.1rem;
        .vehicle-no {
          font-size: 1.3rem;
        }
      }
    }
  }
}
  &:after{
    display: none;
  }
}

ion-menu-button{
  ion-icon{
    font-size: 2rem !important;
  }
}

ion-grid,ion-col{
  padding: 0;
}

ion-row{
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  ion-col{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
[box-shadow]{
  @include box-shadow(0,0,16px,rgba(0,0,0,0.1));
}
ion-tabs{
  ion-tab-bar{
    height: 5rem;
    ion-icon{
      font-size: 2rem;
    }
    ion-label{
      font-size: 1.2rem;
      font-weight: 500;
    }
    @include bp(md){
      height: 5.6rem;
      ion-icon{
        font-size: 2.4rem;
      }
      ion-label{
        font-size: 1.4rem;
      }
    }
  }
}

[fixed-container]{
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal;
  width: 100%;
  ion-tab-button{
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

.select-icon{
  display: none;
}

.ask-me-btn{
  -webkit-margin-start: -3.5rem;
  margin-inline-start: -3.5rem;
  margin-left: -3.5rem;
  bottom:-1rem;

  ion-fab-button{
    height: 7rem;
    width: 7rem;
    ion-icon{
      font-size: 2.2rem;
      margin-bottom: .5rem;
    }
    ion-label{
      font-size: 1.2rem;
      margin-bottom: .5rem;
    }
  }
  @include bp(md){
    -webkit-margin-start: -4.2rem;
    margin-inline-start: -4.2rem;
    margin-left: -4.2rem;
    bottom:-1.5rem;

    ion-fab-button{
      height: 8.4rem;
      width: 8.4rem;
      ion-icon{
        font-size: 3.4rem;
      }
      ion-label{
        font-size: 1.4rem;
      }
    }
  }
}
.fb-space{
  min-width: 7rem;
  max-width: 7rem;
  display: block;
}

ion-fab-button{
  --background:linear-gradient(var(--ion-color-primary-tint), var(--ion-color-primary-shade));
}